<ion-view title="Courses">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content>
      <div class="card">
  		<div class="item item-divider">
	    	Cruso de inducción Educacional
	    </div>
	    <div class="item item-text-wrap">
	    	Quieres aprender cómo controlar lo que piensas y haces?-
	    </div>
	  </div>
	  <div class="card">
	  	<div class="item item-divider">
	    	Cruso de inducción Emocional
	    </div>
	    <div class="item item-text-wrap">
	    	Ahora enfocate en controlar las emociones, esto te servirá.
	    </div>	  	
	  </div>  		
    </ion-content>
</ion-view>
